<template>
  <div class="cookies" v-if="!aceitaCookies">
    <div class="cookies__conteudo">
      <p class="cookies__texto">Utilizamos cookies e tecnologias semelhantes de acordo com a nossa <router-link class="cookies__link" :to="linkPolitica"> Política de Privacidade</router-link> e, ao continuar navegando, você concorda com estas condições.</p>
      <button class="botao" @click="aceitaCookie">Ok</button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
    linkPolitica: '#',
    aceitaCookies: false
    }
  },
  mounted: function () {
    if(window.localStorage.getItem('cookies') != undefined) {
      this.aceitaCookies = window.localStorage.getItem('cookies')
    }
  },
  methods: {
    aceitaCookie () {
      window.localStorage.setItem('cookies', true)
      this.aceitaCookies = true
    }
  }
}
</script>
<style lang="scss" scoped>
  .cookies {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 9999;
    &__texto {
      color: #fff;
      font-size: 16px;
      line-height: 20px;
    }
    &__link {
      color: #fff;
      text-decoration: underline;
    }
    &__conteudo {
      margin: 0 auto;
      padding: 20px;
      max-width: 890px;
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        .botao {
          margin: 15px auto 0 auto;
        }
      }
    }
  }
</style>